# Ignore node_modules directory
node_modules/

# Ignore built files
build/
dist/

# Ignore local development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore npm cache
.npm/

# Ignore Yarn lockfile
yarn.lock

# Ignore editor files
*.swp
*.swo
*.bak
*~
